<div class="borrow-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-card-content>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Full name" formControlName="fullname">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Passport ID" formControlName="passportid">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Address" formControlName="address">
              </textarea>
                </mat-form-field>

            </mat-card-content>

            <button mat-raised-button color="primary">Register</button>

        </form>
    </mat-card>
</div>