<div class="center">
    <img src="assets/img/mascot.png" style="width: 10%;">
</div>

<div class="row justify-content-center">
    <div>
        <div class="card">
            <div class="card-header">
                Loan Details
            </div>
            <div class="card-body" style="width:max-content;">
                <table>
                    <tr>
                        <td style="font-size:larger;">LoanId</td>
                        <td>{{loanid}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-size:larger;">Loan Amount</td>
                        <td>{{loanamount}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-size:larger;">Duration</td>
                        <td>{{duration}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-size:larger;">Collateral</td>
                        <td>{{collateral}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-size:larger;">Collateral Amount</td>
                        <td>{{collateralamount}}</td>
                    </tr>
                    <br>

                    <tr>
                        <td style="font-size:larger;">Installment Period</td>
                        <td>{{installmentinterval}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-size:larger;">Installments</td>
                        <td>{{installments}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-size:larger;">Repaid Principal</td>
                        <td></td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-size:larger;">Outstanding Principal</td>
                        <td></td>
                    </tr>
                    <!-- <tr  *ngIf="role=='lender'">
                        <td style="font-size:larger;">ERC20Address</td>
                        <td>{{lendererc20address}}</td>
                    </tr> -->
                    <br>
                    <br>
                    <tr>
                        <td>
                            <button *ngIf="approvalStatus=='processed'" type="button"
                                class="btn btn-primary btn-lg">Stake</button>
                            <button *ngIf="approvalStatus=='pending'" type="button" class="btn btn-primary">Status
                                Pending</button>
                        </td>
                        <td>
                            <button *ngIf="approvalStatus=='processed'" type="button"
                                class="btn btn-primary btn-lg">Withdraw</button>
                        </td>
                    </tr>

                </table>
                <!-- <br>
                <hr>
                <div *ngIf="role=='lender'">
                    <button *ngIf="approvalStatus=='initiated'" type="button" class="btn btn-primary"
                        (click)="updateApprovalStatus(loanid)">Initiate Approval</button>
                    <button *ngIf="approvalStatus=='pending'" type="button" class="btn btn-primary">Initiated</button>
                    <br>
                    <br>
                    <button [routerLink]="['/verify']" type="button" class="btn btn-success">Verify</button>
                </div> -->

            </div>
        </div>
    </div>
</div>